extends ./../layout

block content
  #single-main
    .single-feature
      h3 #{Photo.author}
      img(src="#{Photo.link}")
      div
        h2 description : #{Photo.description}
      div
        span
            a.button(href="/gallery/#{Photo.id}/edit") Edit
        span
          form(method="POST", action="/gallery/#{Photo.id}")
            input(type="hidden", name="_method", value="DELETE")
            button.button(type="submit", value="submit") Delete

        span
            a.button(href="/gallery") Back